html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* variables: starts here */
:root {
    --white: #ffffff;
    --light-grey: #e6eaea;
    --dark-grey: #919191;
    --sky-col: #3bb6be;
    --light-sky: #e9f6f7;
    --orange-col: #ff8813;
    --violet-col: #553483;
    --violet-dark: #2f2936;
    --dark-violet: #251b70;
    --blue: #171769;
    --dark-blue: #0a0a4b;
}

/* variables: ends here */

/* helper classes: starts here */
.font-raleway {
    font-family: Raleway;
    font-weight: 400;
}

.font-ralewaysemibold {
    font-family: "Raleway - Semi Bold";
    font-weight: 400;
}

/* helper classes: ends here */
.main-container {
    background-image: url("./header/main-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.btn-primary {
    background-color: var(--sky-col);
}

.btn-secondary {
    background-color: var(--orange-col);
}

.nav-link {
    color: var(--white);
    font-size: 20px;
}

.email-id {
    color: var(--white);
    font-size: 16px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--orange-col);
}

.media-facebook,
.media-linkedin,
.media-twitter {
    background-color: var(--violet-col);
    border-radius: 3px;
    border: 1px solid --orange-col;
}

.media-linkedin {
    padding: 12px 11px 11px 11px;

}

.media-twitter {
    padding: 12px 9px 12px 11px;
}

.media-facebook {
    padding: 10px 15px 10px 17px;
}

.header-info {
    font-size: 46px;
    color: var(--orange-col);
}

.header-info-text {
    font-size: 46px;
    color: var(--white);
}

.sub-infotext {
    font-size: 22px;
    color: var(--sky-col);

}

.highights {
    background-color: var(--light-sky);
}

.highights-text,
.highights-sub-text {
    font-size: 55px;
}

.card {
    width: 100%;
    max-width: 220px;
    border-style: none;
}

.highlight-number {
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 700;
    color: var(--dark-violet);
}

.highlight-subtext {
    font-family: "Raleway - Semi Bold";
    font-size: 18px;
    font-weight: 600;
    color: var(--violet-dark);
}

.journey {
    width: 100%;
    max-width: 900px;
}

.text-journey {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
}

.text-para {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
}
.main-travel{
    width: 100%;
}

.travel-text {
    font-family: "Montserrat - Black";
    font-size: 45px;
    font-weight: 500;
    border-left: 4px solid #113888;
}

.travel-para {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    color: #8a8c8c;
}

.travel-list {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    color: #6e7171;
}

.footer-icon {
    border: 1px solid var(--light-grey);
    background-color: var(--white);
}

.footer {
    background-color: var(--blue);
}

.footer-bottom {
    background-color: var(--dark-blue);
}

.bs-Disclaimer {
    color: var(--white);
    font-family: Raleway;
    font-size: 13px;
    font-weight: 400;
}

.bs-rights-reserved {
    color: var(--white);
    font-family: Raleway;
    font-size: 13px;
    font-weight: 400;
}

.logo-paragraph {
    color: #b9b9de;
    font-size: 15px;
}

.logo-span {
    color: var(--white);
    font-size: 16px;
}

.ul-style {
    list-style-image: url(images/arrow.png);
}

.footer-text {
    color: var(--sky-col);
    font-family: "Raleway - Semi Bold";
    font-size: 20px;
    font-weight: 400;
}
.footer-link{
    color: var(--white);
    font-size: 15px;

}

.input-email {
    width: 400px;
    border-radius: 10px;
    background-color: var(--white);
}

input::placeholder {
    color: var(--dark-grey);
    font-size: 15px;
    padding: 15px;
}

.send-btn {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;
}
.year>span {
    border-right: 1px solid black;
}

.bi{
    background-color: var(--orange-col);
}
.left, .right{
    height:40px;
    width: 40px;
    
}
.left-button{
    border: none;
    background: #ffffff;
}